extends ../layout

block content
    h3= book.title
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        img.image(src= book.image)
        p Author: #{book.author}
        p Publisher: #{book.publisher}
        p Genre: #{book.genre}
        p Pages: #{book.pages}
        p= book.description
    div.authors
        h4 Available Authors
            if availableAuthors.length > 0
                form(action= `/books/${book.id}/enroll/` method='post')
                    select(name='author' id='author' autocomplete=off)
                        each author in availableAuthors
                            option(value=author.id) #{author.first_name}
                    button.button.primary(type='submit') Add
            else
                p No remaining Authors are eligible
        h4 Authors
        if book.authors.length > 0
        table
            thead
                tr
                    th First
                    th Last
                    th Date Of Birth
                    th
            tbody
                each author in book.authors
                    tr
                        td= author.first_name
                        td= author.last_name
                        td= author.dob

                            a(href=`/authors/profile/${author.id}`) View Author
        a(href='/books') Back to Books